@model IEnumerable<WebSakila.Models.Dto.FilmDto>
@{
    ViewData["Title"] = "IndexFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Peliculas</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Film" asp-action="CreateFilm" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear nueva Pelicula</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Información General</th>
                <th>Alquiler y Costo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>Título:</strong> @item.Title <br>
                        <strong>Descripción:</strong> @item.Description <br>
                        <strong>Año de Lanzamiento:</strong> @item.ReleaseYear <br>
                        <strong>Idioma:</strong> @item.LanguageId <br>
                        <strong>Idioma Original:</strong> @item.OriginalLanguageId <br>
                        <strong>Características Especiales:</strong> @item.SpecialFeatures <br>
                        <strong>Última Actualización:</strong> @item.LastUpdate
                    </td>
                    <td>
                        <strong>Duración de Alquiler:</strong> @item.RentalDuration <br>
                        <strong>Tasa de Arrendamiento:</strong> @item.RentalRate <br>
                        <strong>Costo de Reemplazo:</strong> @item.ReplacementCost <br>
                        <strong>Clasificación:</strong> @item.Rating
                    </td>
                    <td>
                        <a asp-controller="Film" asp-action="UpdateFilm" asp-route-filmId="@item.FilmId" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="Film" asp-action="DeleteFilm" asp-route-filmId="@item.FilmId" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@* Opcion de visualizacion 2 *@
@* <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Año de lanzamiento</th>
                <th>Idioma</th>
                <th>Idioma original</th>
                <th>Duracion Alquiler</th>
                <th>Tasa de arrendamiento</th>
                <th>Costo de reemplazo</th>
                <th>Clasificacion</th>
                <th>Caracteristicas especiales</th>
                <th>Ultima actualizacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.ReleaseYear</td>
                    <td>@item.LanguageId</td>
                    <td>@item.OriginalLanguageId</td>
                    <td>@item.RentalDuration</td>
                    <td>@item.RentalRate</td>
                    <td>@item.ReplacementCost</td>
                    <td>@item.Rating</td>
                    <td>@item.SpecialFeatures</td>
                    <td>@item.LastUpdate</td>
                    <td>
                        <a asp-controller="Film" asp-action="UpdateFilm" asp-route-villaNo="@item.FilmId" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="Film" asp-action="DeleteFilm" asp-route-villaNo="@item.FilmId" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@

