@model IEnumerable<WebSakila.Models.Dto.FilmDto>
@{
    ViewData["Title"] = "IndexFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Peliculas</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Film" asp-action="CreateFilm" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear nueva Pelicula</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Año de lanzamiento</th>
                <th>Idioma</th>
                <th>Idioma original</th>
                <th>Duracion Alquiler</th>
                <th>Tasa de arrendamiento</th>
                <th>Costo de reemplazo</th>
                <th>Clasificacion</th>
                <th>Caracteristicas especiales</th>
                <th>Ultima actualizacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.ReleaseYear</td>
                    <td>@item.LanguageId</td>
                    <td>@item.OriginalLanguageId</td>
                    <td>@item.RentalDuration</td>
                    <td>@item.RentalRate</td>
                    <td>@item.ReplacementCost</td>
                    <td>@item.Rating</td>
                    <td>@item.SpecialFeatures</td>
                    <td>@item.LastUpdate</td>
                    <td>
                        <a asp-controller="Film" asp-action="UpdateFilm" asp-route-villaNo="@item.FilmId" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="Film" asp-action="DeleteFilm" asp-route-villaNo="@item.FilmId" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div> *@

<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

